.shop-container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 64px);
}

.top-bar {
  padding: 1rem;
  background: #f8f9fa;
  display: flex;
  gap: 1rem;
  align-items: center;
  border-bottom: 1px solid #ddd;
}

.menu-btn {
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
}

.search-box {
  display: flex;
  flex: 1;
  max-width: 600px;
  padding-top: 0.6rem;
}

.search-box input {
  flex: 1;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
}

.search-box button {
  padding: 0.2rem 1rem;
  background: #0dc1a6;
  color: white;
  border: none;
  border-radius: 0 4px 4px 0;
  font-size: 1.2rem;
  cursor: pointer;
}

.content-area {
  display: flex;
  flex: 1;
  position: relative;
  overflow: hidden;
  background-color: rgb(228, 230, 234);
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background: white;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 20;
  overflow-y: auto;
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #eee;
}

.sidebar-header button{
    border-style: none;
    font-size: 1.6rem;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  padding: 0.6rem;
  padding-left: 1rem;
  border-bottom: 1px solid #f0f0f0;
  cursor: pointer;
}

.sidebar li:hover {
  background: #f8f9fa;
  color: #007bff;
}

.backdrop {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0,0,0,0.3);
  z-index: 10;
}

.product-grid-container {
  flex: 1;
  padding: 1rem;
  overflow-y: auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 1.5em;
}

.pagination {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}

.pagination button {
  padding: 0.5rem 1rem;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
}

.pagination button:disabled {
  background: #ccc;
}